#root {
  max-width: max;
  margin: 0 auto;
  /* padding: 0.75rem; */
  text-align: center;
  background-color: #001F3F;
}

.container {
  overflow: hidden;
  position: relative;
}

.form-container {
  display: flex;
  transition: transform 0.7s ease-in-out;
}

.translate-x-full {
  transform: translateX(-50%);
}